/* CSS HEX */
--gunmetal: #202c39ff;
--gunmetal-2: #283845ff;
--sage: #b8b08dff;
--deep-champagne: #f2d492ff;
--atomic-tangerine: #f29559ff;

/* CSS HSL */
--gunmetal: hsla(211, 28%, 17%, 1);
--gunmetal-2: hsla(207, 27%, 21%, 1);
--sage: hsla(49, 23%, 64%, 1);
--deep-champagne: hsla(41, 79%, 76%, 1);
--atomic-tangerine: hsla(24, 85%, 65%, 1);

/* SCSS HEX */
$gunmetal: #202c39ff;
$gunmetal-2: #283845ff;
$sage: #b8b08dff;
$deep-champagne: #f2d492ff;
$atomic-tangerine: #f29559ff;

/* SCSS HSL */
$gunmetal: hsla(211, 28%, 17%, 1);
$gunmetal-2: hsla(207, 27%, 21%, 1);
$sage: hsla(49, 23%, 64%, 1);
$deep-champagne: hsla(41, 79%, 76%, 1);
$atomic-tangerine: hsla(24, 85%, 65%, 1);

/* SCSS RGB */
$gunmetal: rgba(32, 44, 57, 1);
$gunmetal-2: rgba(40, 56, 69, 1);
$sage: rgba(184, 176, 141, 1);
$deep-champagne: rgba(242, 212, 146, 1);
$atomic-tangerine: rgba(242, 149, 89, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);
$gradient-right: linear-gradient(90deg, #202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);
$gradient-bottom: linear-gradient(180deg, #202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);
$gradient-left: linear-gradient(270deg, #202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);
$gradient-top-right: linear-gradient(45deg, #202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);
$gradient-bottom-right: linear-gradient(135deg, #202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);
$gradient-top-left: linear-gradient(225deg, #202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);
$gradient-bottom-left: linear-gradient(315deg, #202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);
$gradient-radial: radial-gradient(#202c39ff, #283845ff, #b8b08dff, #f2d492ff, #f29559ff);


* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: rgba(242, 212, 146, 1);
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

.job {
background-color: #f29559ff;
}